*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
#head{
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
    font-family: 'Exo 2', sans-serif;
    color: #E2E8F0;
}
body{
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #030712;
}
.niveis{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 15px;
    
    margin: 20px 0;
    transform: translateX(-30px);
}
.nivel{
    font-size: 30px;
    border: 2px solid #ccc;
    padding: 5px 5px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #E2E8F0;
}
.nivel input{
    display: none;
}
.nivel:hover{
    background-color:#752db9;
    border-color: white;
}
.nivel:has(input:checked){
    background-color: rgb(68, 22, 128);
    color: #E2E8F0;
    border-color: white;

}
.butao{
    border: 2px solid #ccc;
    box-sizing: border-box;
    padding: 10px 10px;
    font-size: 22px;
    font-weight: bold;
    background-color: transparent;
    color: #E2E8F0;
    border-radius: 12px;
    align-self: flex-end;

}
.butao:hover{
    background-color: #752db9;
    border-color:white ;
}

#container{
    display: flex;
    flex-direction: column;
    background-color:#081C3A ;
    padding: 40px;
    width: 75svw;
    height: 75svh;
    border-radius: 100px;
    box-shadow:4px 7px 10px #752db9 ;

}